html {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

body {
  background-color: #f3f4f6;
  color: #111827;
  font-size: 1em;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dark body {
  background-color: #111827;
  color: #f3f4f6;
}

.radial {
  background-image: radial-gradient(transparent 1px, #f3f4f6 1px);
  background-size: 4px 4px;
}

.dark .radial {
  background-image: radial-gradient(transparent 1px, #111827 1px);
  background-size: 4px 4px;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from {
  opacity: 0;
  transform: translateY(10px);
}

.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.auth-move,
.auth-enter-active,
.auth-leave-active {
  transition: all 0.5s ease;
}

.auth-enter-from,
.auth-leave-to {
  opacity: 0;
  transform: rotate(180deg);
}

.auth-leave-active {
  position: absolute;
}

.status-move,
.status-enter-active,
.status-leave-active {
  transition: all 0.5s ease;
}

.status-enter-from,
.status-leave-to {
  opacity: 0;
  transform: scale(0.6);
}

.status-leave-active {
  position: absolute;
}

.like-enter-active,
.like-leave-active {
  transition: all 0.3s ease-in;
}

.like-enter,
.like-leave {
  transform: translateY(0);
}

.like-enter-to,
.like-leave-to {
  transform: translateY(-16px);
}

.unlike-enter-active,
.unlike-leave-active {
  transition: all 0.3s ease-in;
}

.unlike-enter-from {
  transform: translateY(-32px);
}

.unlike-enter-to {
  transform: translateY(-16px);
}

.unlike-leave {
  transform: translateY(0);
}

.unlike-leave-to {
  transform: translateY(16px);
}

.zoom-enter-active,
.zoom-leave-active {
  animation: buttonAnimation 0.3s ease forwards;
}

.zoom-enter,
.zoom-leave-to {
  transform: scale(0.6);
}

.zoom-enter-to,
.zoom-leave {
  transform: scale(1);
}

@keyframes buttonAnimation {
  0% {
    transform: scale(0.6);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.code-block {
  position: relative;
  .code-label {
    position: absolute;
    color: #1f2937;
    right: 6px;
    top: 6px;
    font-size: 0.6rem;
    text-transform: uppercase;
    background: #e5e7eb;
    padding: 3px 8px 1px 8px;
    border-radius: 5px;
    user-select: none;
  }
}

.dark .code-block {
  position: relative;
  .code-label {
    position: absolute;
    color: #e5e7eb;
    right: 6px;
    top: 6px;
    font-size: 0.6rem;
    text-transform: uppercase;
    background: #1f2937;
    padding: 3px 8px 1px 8px;
    border-radius: 5px;
    user-select: none;
  }
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: #24292e;
  background: #ffffff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}
.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}
.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}
.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}
.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}
.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}

.dark {
  .hljs {
    color: #c9d1d9;
    background: #0d1117;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
  }
  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
  }
  .hljs-built_in,
  .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
  }
  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
  }
  .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
  }
  .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
  }
  .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
  }
  .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
  }
  .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
  }
  .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
  }
  .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
  }
  .hljs-char.escape_,
  .hljs-link,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    /* purposely ignored */
  }
}
